@import "./global.scss";

.app {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);

  .sections {
    width: 100%;
    height: auto;
    position: relative;
    top: 70px;

    > * {
      width: 100%;
      min-height: calc(100vh - 70px);
      height: auto;
    }
  }
}